@font-face {
  font-family: "comic_neuebold_italic";
  src: url(/hate-frontend/comicneue-bolditalic-webfont.woff2) format("woff2"),
    url(/hate-frontend/comicneue-bolditalic-webfont.woff) format("woff"),
    url(/hate-frontend/comicneue-bolditalic-webfont.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'robotoregular';
  src: url(/hate-frontend/roboto-regular-webfont.woff2) format('woff2'),
    url(/hate-frontend/roboto-regular-webfont.woff) format('woff'),
    url(/hate-frontend/roboto-regular-webfont.ttf) format('truetype');
  font-display: swap;
}

body {
  background-color: #F0F0F0;
  margin: 0;
  padding: 0;
  font-family: "robotoregular", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 9px;
}

a {
  color: #06191D;
}

a:visited {
  color: #06191D;
}

@media (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}

.headerContainer {
  background-color: #AECED1;
  display: flex;
  font-size: x-large;
  font-family: "comic_neuebold_italic", cursive;
  font-style: italic;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  column-gap: 18px;
}

@media (max-width: 480px) {
  .headerContainer {
    padding: 18px 0;
    flex-direction: column;
  }
}

.bigger {
  font-size: xx-large;
}

ul.nav {
  display: flex;
  padding: 0;
  justify-content: center;
  list-style-type: none;
  margin-top: 9px;
  gap: 18px;
}

.titleItem {
  margin-bottom: 27px;
}

.titleDate {
  border: solid 1px #AECED1;
  padding: 3px 0 3px 9px;
  background-color: #AECED1;
  font-size: smaller;
}

.titleHeading {
  padding: 0 9px;
  font-size: larger;
}

.subTitle {
  padding: 0 9px;
}